{"jdx_orm_spec_file": "./config/gilhari9_retail_postgres_aws.jdx",
 "jdbc_driver_path": "./config/postgresql-42.7.3.jar",
 "db_username": "my_username",  
 "db_password": "my_password",  
 "jdx_debug_level": 3,
 "jdx_force_create_schema": "true",
 "jdx_persistent_classes_location": "./bin",
 "classnames_map_file": "config/classnames_map_example.js",
 "gilhari_rest_server_port": 8081
 }
